<div class="w-full h-full flex flex-col gap-5 p-5">

  <div class="w-full h-full bg-[#eaeff6] rounded-xl p-3 gap-3 flex flex-col overflow-auto hide-scrollbar">

    <p-stepper [value]="1" class="basis-[50rem]">
      <p-step-list>
        <p-step [value]="1">Informações Básicas</p-step>
        <p-step [value]="2">Grade</p-step>
        <p-step [value]="3">Docentes</p-step>
        <p-step [value]="4">Turmas</p-step>
        <p-step [value]="5">Análise</p-step>
      </p-step-list>
      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col">
              <div
                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 font-medium p-5">
                <app-info-basica></app-info-basica>
              </div>
            </div>
            <div class="flex pt-6 justify-between">
              <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="navigateListaCursos()" />
              <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)" />
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col">
              <div
                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 font-medium w-full p-5">
                <app-grade-curricular></app-grade-curricular>
              </div>
            </div>
            <div class="flex pt-6 justify-between">
              <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
              <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" />
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col h-48">
              <div
                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 font-medium">
                <app-docentes></app-docentes>
              </div>
            </div>
            <div class="flex pt-6 justify-between">
              <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(2)" />
              <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(4)" />
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="4">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col h-48">
              <div
                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 font-medium">
                <app-turmas></app-turmas>
              </div>
            </div>
            <div class="flex pt-6 justify-between">
              <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(3)" />
              <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(5)" />
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="5">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col h-48">
              <div
                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 font-medium">
                <app-analise-curso></app-analise-curso>
              </div>
            </div>
            <div class="flex pt-6 justify-between">
              <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(4)" />
              <p-button label="Concluir" (onClick)="concluir()" />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>

  </div>
</div>