<div class="w-screen h-screen flex justify-center items-center bg-slate-50">
  <div class="rounded-lg bg-white w-[1000px] h-[500px] shadow-lg flex overflow-hidden">
    
    <div class="w-[400px] h-full bg-gradient-radial from-pink-600 to-pink-700 rounded-tl-lg rounded-bl-lg flex justify-center items-center">
      <img src="assets/logos/logo.png" class="w-[150px]" alt="logo">
    </div>
    
    <div class="flex-1 flex p-8 h-full w-full justify-center items-center">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
