<div class="w-screen h-screen flex justify-center items-center bg-slate-50">
  <div class="rounded-lg bg-white w-[1000px] h-[500px] shadow-lg flex overflow-hidden">

    <div
      class="group w-[400px] h-full bg-gradient-radial from-gray-800 to-gray-950 hover:to-black transition-colors duration-1000 rounded-tl-lg rounded-bl-lg flex justify-center items-center">
      <img src="assets/logos/logo.png" class="w-[150px] group-hover:w-[170px] transition-all duration-200 ease-in-out"
        alt="logo">
    </div>

    <div class="p-14 h-full w-[calc(100%-400px)]">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>