:host ::ng-deep {

  .p-select {
    width: 16rem !important;
  }

  // .p-dropdown-panel {
  //   min-width: 16rem !important;
  // }

  .p-togglebutton-content {
    background: #ffffff;
    color: #0F172A
  }

  p-dialog {
    .p-select {
      width: 100% !important;
    }
  }

}