<div class="w-screen h-screen flex flex-col">
  <div class="h-[80%] w-full flex flex-col items-center justify-center bg-gradient-to-br from-pink-700 to-pink-800 text-white px-4">
    <img src="assets/logos/logo.png" alt="Logo" class="w-[350px] h-auto mb-6" />

    <h1 class="text-5xl font-semibold mb-6">Bem-vindo ao UniConnect</h1>
    <p class="text-lg text-center max-w-md mb-10">
      Conectando alunos, professores e instituições de forma simples e inteligente.
    </p>

    <div class="flex gap-10">
      <button class="w-48 bg-white text-pink-700 px-6 py-2 rounded-sm font-semibold hover:bg-gray-100 transition"
      (click)="navigate('login')">
        Entrar
      </button>
      <button class="w-48 bg-transparent border border-white px-6 py-2 rounded-sm text-white font-semibold hover:bg-white hover:text-[#7f1568] transition">
        Registrar
      </button>
    </div>
  </div>

  <div class="flex-1 w-full px-6 py-10 bg-white about text-gray-800">
    <h2 class="text-xl font-bold mb-4">O que é o UniConnect?</h2>
    <p class="max-w-2xl">
      O UniConnect é uma plataforma que facilita a comunicação e gestão entre faculdades, alunos e professores.
      Com funcionalidades modernas e intuitivas, promove uma experiência digital integrada para instituições de ensino.
    </p>
  </div>
</div>
