<div class="w-screen h-screen flex flex-col">
  <div
    class="h-full w-full flex flex-col items-center justify-center bg-gradient-to-br from-pink-700 to-pink-800 text-white px-4">
    <img src="assets/logos/logo.png" alt="Logo" class="w-[350px] h-auto mb-6" />

    <h1 class="text-5xl font-semibold mb-6">Bem-vindo ao UniConnect</h1>
    <p class="text-lg text-center max-w-md mb-10">
      Conectando alunos, professores e instituições de forma simples e inteligente.
    </p>

    <div class="flex gap-10">
      <button class="w-48 bg-white text-pink-700 px-6 py-2 rounded-sm font-semibold hover:bg-gray-100 transition"
      (click)="navigate('login')">
        Entrar
      </button>
      <button
        class="w-48 bg-transparent border border-white px-6 py-2 rounded-sm text-white font-semibold hover:bg-white hover:text-[#7f1568] transition"
        (click)="navigate('registrar')">
        Registrar
      </button>
    </div>
  </div>
</div>