<div class="h-full w-full flex flex-col justify-center items-center">

  <h2 class="text-2xl font-bold mb-6 text-gray-800 text-center -translate-y-5">Registro de Usuário</h2>

  <form class="flex flex-col gap-5 w-full items-center">

    <div class="flex flex-col md:col-span-2 w-[350px]">
      <label for="nome" class="mb-1 text-sm font-medium text-gray-700">Nome Completo</label>
      <input pInputText id="nome" formControlName="nome"
        class="p-inputtext-sm w-full p-3 rounded-md border border-gray-300" />
    </div>

    <div class="flex flex-col md:col-span-2 w-[350px]">
      <label for="email" class="mb-1 text-sm font-medium text-gray-700">Email</label>
      <input pInputText id="email" formControlName="email"
        class="p-inputtext-sm w-full p-3 rounded-md border border-gray-300" />
    </div>

    <div class="md:col-span-2 flex justify-between mt-6 gap-4 w-[350px]">
      <p-button label="Voltar" class="w-[50%] btn-voltar bg-slate-300 rounded-md hover:bg-gray-400 hover:border-gray-200" severity="secondary" (click)="navigateTo('registrar')"/>
      <p-button label="Confirmar" class="w-[50%] text-white bg-slate-800 rounded-md" />
    </div>
  </form>
</div>